<h2>Version 0.9.2</h2>
<ul>
	<li>Now file listing can be embedded in Drupal.</li>
	<li>New setting in WebDAV Server in order to choose full page or
	embedded file listing</li>
	<li>Better permission management. We can have a different
	permission for every single static collection. There is no inheritance.
	For example youcan disallow anonymous access on /webdav/, allow it on
	/webdav/my_path and disallow it again on /webdav/my_path/secret.</li>
	<li>Matching static collection path algorithm will match the best
	collection, not the only equal in number of argument. That means we can
	make static collection for the first part of the path and have all the
	rest used as collection argument. Usefull for recursive collections.</li>
	<li>When used embedded in Drupal, the server is using Drupal
	authentication, no more pop-up for login/password.</li>
	<li>Reworked listing template</li>
	<li>fix compression of binary files</li>
	<li>#311198 Division by zero fixed</li>
	<li>#311096 Warning in settings fixed</li>
	<li>improved configuration for node and server</li>
	<li>fix redirecting stuff</li>
	<li>improved debugging options</li>
	<li>fix listing title</li>
	<li>item type 'folder' changed to 'collection'</li>
	<li>fixed adding and deleting attachments</li>
</ul>

<h2>Version 0.9</h2>
<ul>
	<li>Compatibility with Drupal 6.x.</li>
	<li>Server rewrote in order to drop object oriented file
	structure.</li>
	<li>New WebDAV API which is actually taking distance from WebDAV
	protocole in order to be simple to implement.</li>
	<li>Added a WebDAV browser (HTTP GET on folder).</li>
	<li>Node management and attachement management are now in ther own
	module using WebDAV API.</li>
	<lI>New query routing system inspired by Menu API.</li>
	<li>Huge performance improvement.</li>
	<li>Make use of <kbd>displayname</kbd> property. This allows me to
	stop mangling filenames and directly use Drupal Database ID's as path
	element while keeping everithing human readable.</li>
	<lI>Added HTTP GZip Compression. This is working great when DAV
	client is suporting it (KDE, DAVExplorer).</li>
	<li>Improved WebDAV clients support, the module has been tested
	with Gnome/Nautilus, DavFS2, Cadaver, KDE/Dolphin, MacOS, DAVExplorer
	et Windows.</li>
	<li>Improved permission management.</li>
	<li>New options to store every DAV update as a node revision.</li>
</ul>

<h2>Version 0.5</h2>
<ul>
	<li>Save directly from stream to node (no more tmp stuff)</li>
	<li>Invisible nodes according of status node field</li>
	<li>Small optimisation in node listing query</li>
	<li>Modification of Document/NodeContent to have a virtual
	getMangledName method</li>
	<li>WebDav HTTP handler moved out of "may_cache" block (menus
	hook)</li>
	<li>PHP4 compliant</li>
	<li>Added /admin/settings/webdav menu and associated configuration
	form</li>
	<li>Added a setting form to associate a format (a user defined set
	of filter) with 1/ an extension 2/ a mime type (default will be html
	and text/html)</li>
	<li>Added display name mangling in order to reflect extension and
	mime type associated with node format (tested in
	enumeration/read/write, it seems to work)</li>
</ul>
<h2>Version 0.4</h2>
<ul>
	<li>Integration of <external
		href="http://nickvahalik.com/blog/?p=31">Nick Vahalik</external>
	modifications about file attachements.</li>
</ul>
<h2>Version 0.3</h2>
<ul>
	<li>Renaming a node title as it was a simple file name.</li>
	<li>Drupal integration as a module</li>
</ul>
<h2>Version 0.2</h2>
<ul>
	<li>Writing support</li>
	<li>DAVFS v2 support</li>
	<li>KioSlave support</li>
</ul>
<h2>Version 0.1</h2>
<ul>
	<li>Autentication</li>
	<li>Read-Only file system</li>
</ul>