/* This file is part of "WebDav for Drupal Module".
 *    Copyright 2009, arNuméral
 *    Author : Yoran Brault
 *    eMail  : yoran.brault@bad_arnumeral.fr (remove bad_ before sending an email)
 *    Site   : http://www.arnumeral.fr/node/5
 *
 * "WebDav for Drupal Module" is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * "WebDav for Drupal Module" is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public
 * License along with "Broken Anchor for Node comments Module"; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
 */


.webdav-listing table TD a {
	color:white !important;
	}
.webdav-listing {
	  background-color: #323232;
	  max-height: 400px;
	  overflow: auto;
	} 
.webdav-listing table {
	width: 100%;
	border-collapse: collapse;
}

.webdav-listing table th.icon {
	background-color: transparent;
	width: 22px;
}

.webdav-listing table th {
	font-weight: normal;
	background-color: #4B483D;
	padding: 2px;
	color: white;
	text-align: left;
	font-size: 12px;
}

.webdav-listing table td {
	font-size: 12px;
	color: white;
	padding: 3px;
}

.webdav-listing table tr.a {
	background-color: #3D3D3D;
}

.powered-by {
	font-size: 10px;
	text-align: right;
	margin-top: 3px;
}